doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Api Coontrol
        link(rel="icon", href="data:;base64,iVBORw0KGgo=")
        link(rel='stylesheet', href='/css/materialize.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet", href='/css/material-icons.css')
        block style
    body.blue-grey.lighten-2
        block menu
        block content
        script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
        script(type='text/javascript', src='/js/materialize.min.js')
        script(type='text/javascript', src='/js/jquery.validate.min.js')
        script(type='text/javascript', src='/js/messages_pt_BR.min.js')
        script(type='text/javascript', src='/js/global.js')
        block script
